section {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
section > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
section > div :first-child {
  text-align: center;
  margin: 2vh;
  width: 60%;
}
section > div > #sub-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}
section > div > form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 40vw;
}