.sexy-font{
    font-family: 'Courier New', Courier, monospace;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, .clicked, #clock{
    color: yellow;
}

#clock{
    font-size: 50px;
}

#login-form{
    margin: 50px;
}

#login-form input{
    padding: 30px;
    border: none;
    border-bottom: 1px solid black;
}

#todo-form input{
    padding: 30px;
}
#quote{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hidden{
    display: none;
}
img{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
}
#weather{
    color: black;
    position: absolute;
    right: 0;
    top: 0;
}