// *components
@use "./components/reset.scss";

// *screens
@use "./screens/header.scss";
@use "./screens/section.scss";

// *폰트
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

*{
    font-family: "Dongle", sans-serif;
    font-style: normal;
}

.hidden{
    // !이미 display가 선언되어 있는 경우 클래스가 추가될 때 클래스에 할당된 값이 먼저 올 수 있도록 important 할당
    display: none !important;
}