#todo-list{
    color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todo-list li span{
    margin-right: 10px;
    font-size: 30px;
    margin-right: 40px;
}

#todo-list li button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 30px;
    color: white;
}
