@use "../components/display.scss";

body{
    @include display.flex(column, start, center);
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
}

a, ul, ol, li{
    text-decoration: none;
    list-style: none;
}